.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.everything {
  width: 100%;
}

.space-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.letter {
  width: 5%;
  margin: 0 10px;
  border-bottom: 2px solid #282c34;
}

.space {
  width: 5%;
  border-bottom: none;
}